doctype html
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		block title
			title Base Title
		block styles
			link(rel="stylesheet" type="text/css" href="/css/bootstrap.min.css")
	body
		block content
		.footer
		block scripts
			script(src="/js/jquery-3.2.1.js")
			script(src="/js/tether.min.js")
			script(src="/js/bootstrap.js")
